{% load static %}
<html>
    <head>
        <title>El Blogero Gaditano</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Blog Gaditano</a></h1>
        </div>
        <div class="row">   
                <div class="col-md-8">
                {% block content%}{%endblock%} 
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            <p>Publicado: {{post.fecha_publicada}}</p>
                        </div>
                        <a class="btn btn-default" href="{% url 'post_editar' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'post_borrar' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <h2>{{post.titulo}}</a></h2>
                        <p>{{post.texto|linebreaksbr}}</p>
                    </div>
                {% endfor %}
                </div>
        </div>
    </body>
</html>