{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Gaditano</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <p>Publicado: {{post.fecha_publicada}}</p>
            <h2><a href="">{{post.titulo}}</a></h2>
            <p>{{post.texto|linebreaksbr}}</p>
        </div>
        {% endfor %}
    </body>
</html>